/* SOCIAL ICONS */
table td{
	border: none;
}

.minirss, .minifacebook, .minitwitter, .minigoogleplus, .miniinstagram, .minipinterest {
	position: relative;
	width: 30px;
	height: 30px;
	float: right;
	display: block;
	background-image: url(images/redes-mini.png);
	text-indent: -9999px;
	margin: 0 5px 0px;
}
.minirss{
	background-position: left top;
}
.minifacebook{
	background-position: -30px top;
}
.minitwitter {
	background-position: -60px top;
}
.minigoogleplus{
	background-position: -90px top;
}
.miniinstagram{
	background-position: -120px top;
}
.minipinterest {
	background-position: right top;
}
.minirss:hover{
	background-position: left bottom;
}
.minifacebook:hover{
	background-position: -30px bottom;
}
.minitwitter:hover{
	background-position: -60px bottom;
}
.minigoogleplus:hover{
	background-position: -90px bottom;
}
.miniinstagram:hover{
	background-position: -120px bottom;
}
.minipinterest:hover{
	background-position: right bottom;
}
