.team-list {
margin: 0px;
padding: 0px;
width: 100%;
overflow: hidden;
}
.team-list>.grid {
width: 100%;
float: left;
list-style: none;
margin-bottom: 20px;
padding-bottom: 20px;
margin-left: 0px;
}
.team-list>.list {
width: 45%;
float: left;
list-style: none;
border: 1px solid #eee;
margin-bottom: 20px;
margin-right: 10px;
margin-left: 0px;
padding: 10px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}
.list .team-member-info {
width: 100%;
margin-right: 0;
text-align: center;
min-width: 170px;
float: right;
}
.list .team-member-des {
width: 100%;
}
.team-member-info {
float: left;
width: 30%;
margin-right: 2.5%;
text-align: center;
}
.team-member-des {
float: left;
width: 67.5%;
}
.team-picture {
display: inline-block;
height: auto;
max-width: 100%;
padding: 4px;
background-color: #fff;
}
h2.team-title,h4.team-position {
margin: 0px;
}
h4.team-position {
padding-bottom: 10px;
}

img.team-picture {
margin: 5px;
max-width: 95% !important;
}
.grid img.team-picture {
margin: 0px;
}
ul.team-member-socials {
margin: 5px 0 0 0;
padding: 0px;
text-align: center;
}
ul.team-member-socials li{display: inline-block;margin: 2%;}
ul.team-member-socials li a {
font-size: 0px;
text-indent: -9999px;
line-height: 0px;
color: transparent;
display: inline-block;
float: left;
opacity: .5;
filter: alpha(opacity=50);
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
ul.team-member-socials li a:hover {
opacity: 1;
filter: alpha(opacity=100);
}

ul.size-32 li a{width: 32px;height: 32px;}
ul.team-member-socials li a.facebook-32 {
	background: url('../img/social/32/facebook.png');
}
ul.team-member-socials li a.twitter-32 {
	background: url('../img/social/32/twitter.png');
}
ul.team-member-socials li a.googleplus-32 {
	background: url('../img/social/32/googleplus.png');
}
ul.team-member-socials li a.blogid-32 {
	background: url('../img/social/32/rss.png');
}
ul.size-16 li a{width: 16px;height: 16px;}
ul.team-member-socials li a.facebook-16 {
	background: url('../img/social/16/facebook.png');
}
ul.team-member-socials li a.twitter-16 {
	background: url('../img/social/16/twitter.png');
}
ul.team-member-socials li a.googleplus-16 {
	background: url('../img/social/16/googleplus.png');
}
ul.team-member-socials li a.blogid-16 {
	background: url('../img/social/16/rss.png');
}
ul.team-member-other-info {
list-style-type: square;
margin: 16px 0;
padding-left: 20px;
}

.rounded {
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff; 
}
.circle {
	border: solid 1px #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color:#fff; 
}
.boxed {
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
	background-color:#fff; 
}
