/*
Theme Name: UNDER magazine 2015
Theme URI: http://mangelesbroullon.wordpress.com
Version: 4.0
Description: Tema hijo de Hueman para hacer cambios sin riesgo
Author: Angeles Broullón
Author URI: http://mangelesbroullon.wordpress.com
Template: hueman
*/

@import url("../hueman/style.css");

/*----------------- Start hanges -------------------------------*/

body, .entry.excerpt, .post-meta {
    color: #222;
    background: #FFFFFF;
}
img { 
    max-width: 100%;
    height: auto;
}
.site-title {
    padding: 0px;
}
.site-title a {
    display: block;
    color: #FFF;
    padding: 0px;
}

.container {
    padding: 0 0px;
}
.container-inner {
    max-width: 100%;
}

#nav-header .nav li a {
    font-weight: bold;
}
#nav-header .nav{
    text-align:center;
}
.post-author {
    float: left;
}
.post-title, .post-meta, .post-byline, .entry.excerpt p {
    text-align:center;
}
.post-tags a:hover { background-color: #F2694B; color: #fff; }

/*  common : pagination
/* ------------------------------------ */
.pagination { margin-bottom: 15px; }
.pagination a { font-size: 15px; font-weight: 600; }

/* header */
#header {
    background:#000000;
    background-position: center;
    background-repeat: no-repeat;
}
#header .pad {
    padding: 5px;
}

/* header links */
#nav-header .nav li > a:hover, #nav-header .nav li:hover > a, #nav-header .nav li.current_page_item > a, #nav-header .nav li.current-menu-item > a, #nav-header .nav li.current-menu-ancestor > a, #nav-header .nav li.current-post-parent > a {
    color: #F2694B;
    text-decoration: none;
}

/* footer links */
#footer-bottom #back-to-top {
    background: #222;
}
#footer-bottom a, a, .page-title a, .comment-tabs li.active a {
    color: #F2694B;
}
#footer-bottom a:hover, a:hover, .page-title a:hover, .comment-tabs li.active a:hover  {
    color: #F2694B;
    text-decoration: underline;
}
.post-hover:hover .post-title a {
    color: #F2694B;
}

.comment-tabs li.active a {
    color: #F2694B;
    border-bottom-color: #F2694B;
}
.post-comments {
    background: none repeat scroll 0% 0% #F2694B;
}
.post-comments > span:before {
    border-right: 7px solid #F2694B;
}
#commentform {
    background: none repeat scroll 0% 0% #FFFFFF;
}
.themeform input[type="submit"], .themeform button[type="submit"] {
    background: none repeat scroll 0% 0% #F2694B;
}
.post-meta .post-date {
    margin-right: 6px;
}

/*----------------- SIDEBARS -------------------------------*/
/* sidebar primary */
.sidebar-top {
    padding: 10px 10px;
}
.s1 .sidebar-toggle {
	background: #F2694B;
}
.s1 .sidebar-top, .s1 .sidebar-toggle {
    background: none repeat scroll 0% 0% #F2694B;
}

/* sidebar secondary */
.s2 { width: 260px; z-index: 1; }
@media only screen and (min-width: 479px) and (max-width: 1200px) {
	.s2 .sidebar-top { background: none!important; border-bottom: 1px solid #ddd; }
	.s2 .sidebar-top p { color: #666; }
}

.s2 .sidebar-toggle {
    background: #F2694B;
}
.s2 .sidebar-top, .s2 .sidebar-toggle {
    background: none repeat scroll 0% 0% #F2694B;
}
/*----------------- FOOTER -------------------------------*/
#footer {
    color:#000000;
}
#footer-bottom {
    background:#FFFFFF;
}
#footer-bottom .social-links a {
    color: #222;
}
#footer-bottom .social-links a:hover {
    color: #F2694B;
}
/*COPYRIGHT*/
#site-generator {
    width: 100%;
    border-top: 5px solid #222;
}
#site-generator .logo_foot{
    display: inline-block;
    background-image: url(images/logo-foot.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 111px;
    height: 38px;
}
#site-generator .text_foot{
    display: inline-block;
    width: auto;
    text-align: right;
    vertical-align: bottom;
    float:right;
}
#site-generator img {
    vertical-align: middle;
}
/*----------------- ABOUT US -------------------------------*/
.staff {
    clear:both;
    margin-bottom: 5%;
}
.staff-izq {
    display:block;
    float:left;
    width: 40%;
    padding-right: 5%;
    padding-top: 5%;
}
.staff-der {
    display:block;
    float:left;
    width: 50%;
 }
.staff-der h2 {
    font-size: 200%;
    margin: 0 0 1% 0;
    line-height: 31px;
    border-bottom: 5px solid #222;
}
.staff-izq img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 5px solid #222;
}
/* ------------------------------------------------------------------------- *
 *  Single
/* ------------------------------------------------------------------------- */
.single .post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1.3em;
}
