/*
Theme Name: UNDER 13
Description: Based in Towfiq I.'s Triton theme, an all in one wordpress theme with awesome fonts, 1 slider, 1 layout &amp; easy to use theme option panel. The Theme also includes 3 built-in widgets and 5 useful shortcodes. The theme is SEO Friendly and has plenty of user-friendly options. The theme also comes with a Contact page Template which doesn't require any setup.
Version: 1.3
Theme URI: https://github.com/AngelesBroullon/UNDERmagazine/themes/UNDER13
Author: Angeles Broullón
Author URI: http://mangelesbroullon.wordpress.com/acerca-de/
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Tags: theme-options, three-columns, gray, white, right-sidebar, left-sidebar
*/

/*FONTS
-------------*/
@import url(http://fonts.googleapis.com/css?family=Podkova);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*MAIN CONTENT
-------------*/
body{background:none; margin:0; padding:0; font-size:16px; font-family:'Open-sans', serif; color:#555555; width: 100%;}
p{font-size: 16px;}
.center{  margin-left: auto; margin-right: auto;}
a {outline:none; color:#555555; text-decoration:none;}
a:hover {outline:none; color:#F2694B;}
a:focus{outline:none; color:#F2694B;}
.pattern{  margin-left: auto; margin-right:auto; max-width:960px;}


#masthead{color:#777; float:left; width:100%; background:#222;}
#masthead .fake{ background:#171717; float:left; width:100%;}
#header{ float:left; width: 100%;border-bottom: 1px solid #dedede;}

#logo{ margin-top:20px; padding-bottom:5px; width: 100%; margin-left, margin-right:auto;}
#logo h1{ margin:0; padding:0;}
#logo h1 a{ display:block; margin:0 auto; text-decoration:none; color:#171717; text-align:center; font-size:32px; text-transform:none; font-family: 'Podkova', sans;}
a.pic_logo { max-width:auto; max-height:200px; width: 100%; height:auto; color: transparent; text-align:center;}
#logo a img{ border:none; margin-bottom:10px; margin-left, margin-right: auto;}
.desc{ display: block; margin:0 auto; text-decoration:none; color:#171717; text-align:center; font-size:11px; text-transform:none; padding-top:5px; font-family: 'Podkova', sans;}


/*TOPMENU
-------------*/
#menu_wrap{ width:100%; height: auto; position:relative; margin-left, margin-right: auto;}
#topmenu{ width:100%;}
#topmenu ul{ margin:0; padding:0; position:relative; text-align: center;}
#topmenu ul li{ list-style-type:none; margin:10px; display: inline-block; font-family: 'Podkova', serif;}
#topmenu ul li a{ display:block; text-decoration:none; color:#fff; font-size:20px; text-transform:uppercase; font-family: 'Podkova', serif;}
#topmenu ul li a:hover{ color:#F2694B; font-family: 'Podkova', serif, bold;}

#topmenu ul .current-menu-item a{ color:#fff; text-decoration: underline;}
#topmenu ul .current-menu-item ul li{ background:#1e1e1e;padding:1px 0px;}
#topmenu ul .current-menu-item ul li a{ padding:4px; background:none;color:#222;}
#topmenu ul .current-menu-parent ul .current-menu-item{background:#3e3e3e repeat;}
#topmenu ul .current-menu-parent ul .current-menu-item a{ padding:4px; background:none;}
#topmenu ul .current-menu-parent ul .current-menu-item ul .menu-item a{ padding:4px;}
#topmenu ul .current-menu-item .current-menu-item .sub-menu li a{ padding:4px;background:none;}

#topmenu ul li ul{ position:absolute;width:120px; z-index:999999; display:none; padding-left:0; margin-left:-10px;padding-top:15px;}
#topmenu ul li ul li{ float:none; margin:0; padding:1px 0px; text-align:center; background:#1e1e1e ;  display:block; border-bottom: 1px solid #333;}
#topmenu ul li ul li a{ color:#222; font-size:12px; font-weight:normal; padding:4px;}

#topmenu ul li ul li a:hover, #topmenu ul li .sub-menu .current-menu-item a:hover{ background:#f6f6f6; color:#333;  }
#topmenu ul li ul li ul{left: 100%; margin-top:-24px; float:none; margin-left:0px; display:none;}


/*LAYOUT1
-------------*/

.lay1{ float:left; width:100%; margin-top:10px; background:none repeat-y; margin-bottom: 40px; margin-left: auto; margin-right: auto;}
.lay1 .post, .lay1 .page{ max-width: 300px; margin:1%; display: inline-block;}
.lay1 .post a:hover, .lay1 .page a:hover{color:#F2694B;}
.lay1 .post img, .lay1 .page img{ height:auto; border:none; border: none;}
.lay1 .post .imgwrap, .lay1 .page .imgwrap{ position:relative; overflow:hidden; border: 5px solid #222; height: auto; max-height:119px;}
.lay1 .post .post_content, .lay1 .page .post_content{ color:#757575; height:350px;}
.lay1 .post .postitle{ text-align:center;overflow: hidden;}
.lay1 .post .postitle a, .lay1 .page .postitle a{ text-decoration:none; color:#444; text-transform:uppercase;}
.lay1 .post .postitle a:hover, .lay1 .page .postitle a:hover{color:#F2694B;}
.lay1 .post .post_author a, .lay1 .page .post_author{ text-align:center; overflow: hidden; width: 100%; margin-left: auto; margin-right: auto; color:#F2694B; display: block;}
.lay1 .post .post_author a:hover, .lay1 .page .post_author a:hover{color:#F2694B; text-decoration: underline;}
.lay1 .post .date_meta, .lay1 .page .date_meta{ font-style:italic; position:absolute; padding:5px; background:url(images/trans.png) repeat; color:#fff; right:0; top:10px;}
.lay1 .post .block_comm, .lay1 .page .block_comm{ position:absolute; bottom:10px; margin-left:10px; text-shadow: black 0.1em 0.1em 0.2em;}
.lay1 .post .block_comm a, .lay1 .page .block_comm a { color:#fff; text-decoration:none; display:block; font-style:italic; text-shadow:1px 1px #000, -1px -1px  2px #000,-1px -1px 4px #000,
1px 1px 5px #000;}
.lay1 .post p, .lay1 .page p{ line-height:19px; text-align:center;}
.lay1 .read_mor{ background:#222!important; padding:2px 4px; font-size:11px; color:#fff; text-decoration:none; display:block; margin:0 auto; width:70px;}
.trt_thumbnail{ border-top:1px solid #CCC;}



/*MIDROW
-------------*/
#midrow{ width:100%; float:left; background:none; font-size:12px;color:#222; padding-top:15px; padding-bottom:15px;}
#midrow .widgets {width: 100%; margin-left: auto; margin-right: auto;}
#midrow .widgets .widget a{color:#F2694B;}
#midrow .widgets ul{ margin:1%; padding:0;}
#midrow .widgets .widget{ width:290px; float:left; margin-right:35px; list-style-type:none; margin-bottom:15px; display: inline-block;}
#midrow .widgets .widgettitle, #midrow .widgets .widgettitle a{ color:#444; text-transform:uppercase; text-align:center; border-bottom: 5px solid #222;}
#midrow .widgets .widget ul{ margin:0; padding:0;}
#midrow .widgets .widget ul li{ list-style-type:none; padding:10px 0;}
#midrow .widgets .widget ul li a{color:#F2694B; text-decoration:none; }
#midrow .widgets .widget ul li a:hover{color:#F2694B; text-decoration: underline;}
#midrow .widgets .trt_rand li, #midrow .widgets .trt_pop li, #midrow .widgets .trt_feat li{min-height: 70px;}
#midrow #wp-calendar #today{ background:#222; color:#fff;}
#midrow #wp-calendar caption {border-bottom-style:dashed; border-bottom-color:#fff;border-width:1px}

/*FOOTER
-------------*/
#footer{ width:100%; float:left; background:none; font-size:12px;color:#979797; padding-top:15px;}
#footer .widgets-container{ max-width: 960px; margin-left:auto; margin-right:auto;}
#footer .widgets {width: 100%; margin-left:auto; margin-right:auto;}
#footer .widgets .widget a{color:#979797;}
#footer .widgets ul{ margin:2%; padding:0;}
#footer .widgets .widget{ width:290px; float:left; margin-right:35px; list-style-type:none; margin-bottom:15px; display: inline-block;}
#footer .widgets .widgettitle, #footer .widgets .widgettitle a{ color:#979797; text-transform:uppercase; text-align:center; border-bottom: 5px solid #222;}
#footer .widgets .widget ul{ margin:0; padding:0;}
#footer .widgets .widget ul li{ list-style-type:none; padding:10px 0;}
#footer .widgets .widget ul li a{color:#F2694B; text-decoration:none; }
#footer .widgets .widget a:hover{color:#F2694B; text-decoration: underline;}

#footer #wp-calendar #today{ background:#222; color:#ccc;}
#footer #wp-calendar caption {border-bottom-style:dashed; border-bottom-color:#1c1c1c;border-width:1px}

/*COPYRIGHT
-------------*/
#site-generator {
	width: 100%;
	border-top: 5px solid #222;
}
#site-generator .logo_foot{
	display: inline-block;
	background-image: url(images/logo-foot.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 111px;
	height: 38px;
}
#site-generator .text_foot{
	display: inline-block;
	width: auto;
	text-align: right;
	vertical-align: bottom;
	float:right;
}
#site-generator img {
	vertical-align: middle;
}


/*SIDEBAR
-------------*/
#sidebar{ float:left; width:290px; margin-left:10px; margin-top:15px; overflow:hidden;}
#sidebar .widgets{margin-left, margin-right: auto;}
#sidebar .widgets ul{ margin:0; padding:0;}
#sidebar .widgets ul li{ list-style-type:none;}
#sidebar .widgets ul li ul li{padding:8px 0;}
#sidebar .widgets ul li a{ color:#F2694B!important; text-decoration:none;}
#sidebar .widgets .widget{ margin-bottom: 40px;}
#sidebar .widgets .widgettitle, #sidebar .widgets .widgettitle a{  font-size:18px; text-transform:uppercase; border-bottom: 5px solid #222; padding-bottom:10px;
 color:#171717; text-align: center;}


/* Search */
#search label, 
#searchform label {
	display:none;
}

#searchform{
	margin: 20px auto 0;
    width: 260px;
}
#s {
	border: 1px solid #AEAEAE;
  	display: inline;
    float: left;
    font-size: 16px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 211px;
}
#searchform #searchBtn, 
#searchsubmit, 
#error-search {
	-moz-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius:0 10px 10px 0;
	background: url("images/search.png") no-repeat 3px 3px #F2694B;
	border:none;
	cursor:pointer;
    height: 34px;
    margin-top: 0;
    padding: 5px;
    text-indent: -9999px;
	text-transform: capitalize;
    width: 36px;
}
/* Calendar */
#wp-calendar{ width:100%;}
#wp-calendar caption{ padding-bottom:5px; border-bottom:1px solid #e5e5e5; margin-bottom:10px;}
#wp-calendar tbody td{ text-align:center;}
#wp-calendar #today{ background:#e5e5e5; color:#FFF;}

/*POSTS
-------------*/
#posts{ float:left; max-width:640px; margin-left: 1%; margin-right: 1%; margin-top:30px; margin-bottom: 40px; color:#7f7f7f;}
#posts .postitle, #posts .postitle a{ text-transform:uppercase;text-decoration:none;color: #171717; font-family: 'Podkova', sans; font-size:30px; line-height:30px;}
#posts .single_metainfo{ font-size:12px; color:#222;}

.single_page_post .post_wrap{ width:98%; padding-right:1%; line-height:22px;}
.post_wrap a{ text-decoration:none; color:#F2694B;}
.post_wrap a:hover, #posts .post_content .post_foot a:hover{ color:#F2694B; text-decoration: underline; }

.post_foot{ clear:both;}
.post_wrap .post_foot{ margin-top:15px;}
.single_page_post .post, .single_page_post .type-page, .single_page_post .type-attachment{ margin-bottom:10px;}
.single_page_post .post img, .type-page img, .type-attachment img{width:95%; height:auto; border: 5px solid #222; margin-left, margin-right: auto;}
.single_page_post .post a img, .type-page a img, .type-attachment a img{ width:95%; border: 5px solid #222; height:auto; margin-left, margin-right: auto;}

#posts .post_content{ border-bottom:7px solid #171717; padding-bottom:10px;}

#posts .post_content .post_foot a, #posts .post_content .post_foot{font-size:12px;}

#posts .post_content .edit{ text-align:right;margin-top:10px;}
.post_wrap .attachment .post_meta{ display:none;}
.post_content blockquote{ background:url(images/lgn_quote.png) no-repeat top left; font-style: italic;
	padding: 0 3em;}


.post table, .org_comment table {margin: 0 -1px 24px 0;text-align: left; width: 100%;border-collapse: collapse;border-spacing: 0; background:#f4f4f4 url(images/pattern1.png) repeat;}
.post table img, .org_comment img{ height: auto;}
.post tr th, .post thead th, .org_comment tbody th {color: #333;font-size: 12px;font-weight: bold;line-height: 18px;padding: 9px 24px; background:#fff url(images/pattern1.png) repeat;}
.org_comment pre{ background:url(images/trans_black.png) repeat; color:#333; padding:0px 10px;}
.post tr td, .org_comment tr td{padding: 6px 24px;}
.post tr.odd td, .org_comment tr.odd td{background: #f2f7fc;}
.org_comment table th{padding: 6px 24px;}


/*SHARE THIS
-------------*/
.single_page_post .post_wrap .share_this{ width:100%; float:left; padding-bottom:7px; border-bottom: 1px solid #DFDFDF;}
.single_page_post .post_wrap .share_this a{ color:#999; display:block; float:left;}
.share_this .social_buttons div{ margin-right:13px;padding-left:20px; height:16px; float:left;}
.share_this .lgn_fb{ background:url(images/social.png) top left no-repeat; }
.share_this .lgn_twt{background:url(images/social.png) left no-repeat;background-position: 0px -21px;}
.share_this .lgn_del{background:url(images/social.png) left no-repeat;background-position: 0px -42px;}
.share_this .lgn_digg{background:url(images/social.png) left no-repeat; background-position: 0px -63px;}
.share_this .lgn_stmbl{background:url(images/social.png) left no-repeat;background-position: 0px -83px;}


/*COMMENTS
-------------*/
.comments_template{ width:100%; float:left; margin-top:10px;}
.commentlist{ margin:0; padding:0;}
.commentlist li{ list-style-type:none;}
h3#comments{ color:#333333;}
h3#comments_ping{color:#333333; border-bottom:7px solid #fff; padding-bottom:10px;}

.comment-body{ color:#7f7f7f; padding:15px; padding-left:0; margin-bottom:15px; float:left; width:98%; background:url(images/border.png) bottom repeat-x;}
.comment-body-left{float:left;}
.vcard{ float:left; width:58px; margin-right:15px;}
.fn{ padding-top:5px; display:block; text-align:center;}
.avatar img{ border:4px solid #fff;}

.comment-meta{ }
.commentlist .comment-meta a, .commentlist .comment-meta a:hover{ color:#999; font-style: italic;}
.org_comment {float: left; width: 85%;}
.comm_meta_reply{}
.comm_meta_reply a{ color:#999; font-size:12px;}

.comm_reply{ display:inline-block; float:right; margin-right:15px;}
.comm_edit{ display:inline-block; float:right; margin-right:15px;}

h3#reply-title{ color:#333; text-transform:uppercase; text-align:right;float: right; position:relative; z-index:99; background:none; padding-left:10px; margin-top:-30px;}
/*STUPID IE7 HACK!!*/
#related .comm_break{*margin-top : -10px;} 
.comm_break{ width:100%; height:7px;  float:left; background:#fff; margin-top:-27px; position:relative; }

#respond{width: 100%; float:left; padding:15px 0; color:#7f7f7f; margin:15px 0; }
#respond p{ margin-bottom:0;}
.comment-form-author, .comment-form-email, .comment-form-url{ width:50%;float: left;}
.comment-form-comment{  clear:both; padding-top:10px;}
.comment-form-email input{ max-width:70%; border: 1px, solid, #222;}

.comment-form-comment label{ padding-bottom:15px;}
#respond input{max-width: 290px; padding:5px; border: 1px, solid, #222; color:#444; font-family: 'Open-sans', serif; margin-bottom:15px;}
#respond textarea{ padding:5px;  border: 1px, solid, #222; color:#444; font-family: 'Open-sans', serif; width:97%;}

#commentform label{display:block; float:left;}

#commentform .comment-form-url label{ margin-right:26px;}
#commentform .comment-form-comment label{ margin-right:15px;}
#commentform .form-allowed-tags{ display:none;}
#commentform .required{ float:left; margin-right:32px;}

.page .nocomments, .comment-notes{ display:none;}
#respond #submit{ width:auto; float:right; background:#171717; color:#fff; margin-right:7px; margin-top:10px;}
.bypostauthor{}
.bypostauthor .comment-body{}
.commentlist .org_comment ol li{ list-style-type:decimal;}
.commentlist .org_comment ul li{ list-style-type:circle;}

.comments_template .navigation{ clear:both;}




/*EASYSLIDER
-------------*/
#slider_wrap{clear: both;}
#slides{ float:left; background:#dfdfdf; margin-top:20px; width:100%; overflow:hidden;}

.easyslider{width: auto; max-height:300px; overflow:hidden;}
#slider{ position:relative; overflow:hidden; border-bottom:2% solid #333;}
#slider ul, #slider li{margin:0;padding:0;list-style:none;}
#slider li{width, height:auto; max-height: 300px; overflow:hidden; position:relative;}
#slider-content img{width:100%; height: 100%;}

.slider-content{ position:absolute; width:40%; height:auto; max-height: 240px; margin-top:4%; color:#fff; padding:0 1%; margin-right:1%; text-shadow:1px 1px #000, -1px -1px  2px #000,-1px -1px 4px #000,
1px 1px 5px #000; right: 0%;}
.slider-content h2{ margin:1% 0; text-align:center; font-size:24px; float: right;}
#slider .slider-content h2 a, #slider .slider-content a{ color:#fff; text-decoration:none; text-transform:uppercase;}
.slider-content p{ margin-top:15px; padding:2%; text-transform:none; text-align:center; width:auto; font-style:italic; text-shadow:1px 1px #000, -1px -1px  2px #000,-1px -1px 4px #000,
1px 1px 5px #000; float:right;}
/* numeric controls */	
ol#controls{ float:right; background:none; padding:0; margin:0; width:100%;}
ol#controls li{ list-style-type:none; float:left; padding:5px 10px; float:right;}
ol#controls li a{
	width: 10px; height: 10px; display: inline-block;
    background-image: url(images/bullets.png); background-position: left top;
    text-indent: -9999px;}
ol#controls li.current a{
	width: 10px; height: 10px; display: inline-block;
    background-image: url(images/bullets.png); background-position: left bottom;
    text-indent: -9999px;}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
/* Easy Slider END */


/*PAGINATION
-------------*/
.trt_paginate, .navigation{ float:left; margin:15px 0; width:100%;}
.trt_paginate .amp_title{ display:none;}
.trt_paginate span, .trt_paginate a, .navigation a, .navigation span{ padding: 5px 10px;}
.amp_page, .amp_next, .amp_prev, .page-numbers{ text-align:center; text-decoration:none; font-size:13px; margin-right:10px; background:#fff; display:inline-block; color:#222;}
.amp_current{text-decoration:none; font-size:13px;margin-right:10px;background:#222 ; color:#fff;display:inline-block;}
.amp_title{ display:none;}
.amp_next{}
.amp_page:hover, .amp_next:hover, .amp_prev:hover, .page-numbers:hover, .navigation .current {background:#fff; color:#F2694B;}
.hidden_nav{ display:none;}
.lay1_page .trt_paginate{ text-align:center;}


/*SEARCH PAGE
-------------*/
.search_term .postsearch{color: #171717;font-size: 18px;padding-bottom: 10px;text-transform: uppercase; margin-top:0; }
.search_term{padding-bottom: 10px;border-bottom: 7px solid #FFF;width:100%; margin-bottom:30px;}

/*Contact Page
-------------*/
.entry-content{ margin-top:15px; width:100%; float:left;}
.entry-content input{ padding:10px; border:none; color:#777; font-family:'Open-sans', serif; width:50%;}
.entry-content textarea{ padding:10px; background:#fff; border:none; color:#777; font-family: 'Open-sans', serif; width:80%;height:200px;}
.entry-content label{ width:100px; display:block; float:left;}
.entry-content #submit_msg{ width:auto; left:90%; padding:5px 10px; position:relative; background:#171717; color:#fff;}

/*ERROR PAGE
-------------*/
.error_page{ width:100%; float:left; margin-bottom:30px;}
.error_page .post{}
.error_page .post h2{ text-align:center;}
.error_page .fourofour{ font-size:340px; display:block; text-align:center; font-weight:bold; clear:both;}
.error_page .fourofour{ color:#FFF;}
.error_page #s{ padding:8px 0;}
.error_page #searchsubmit{ margin:0 auto; display:block; width:100px; background:#171717; color:#fff; border:none; padding:5px;}

/*LEFT SIDEBAR
-------------*/
.left_sidebar #sidebar{ margin-left:0; margin-right:10px;}
.left_sidebar #posts{background: url(images/single_bg.png) no-repeat; background-position:-635px 0;}
.left_sidebar .single_page_post .post_wrap { padding-right:0; padding-left:20px; padding-right:10px;}


/*NO SIDEBAR
-------------*/
.no_sidebar .single_page_post{width:98%!important;}
.no_sidebar .single_page_post .post_wrap{width:100%!important;}



/*SHORTCODES
-------------
*/

/*QUOTE*/
.lgn_quote{ width:92%; background: url(images/lgn_quote.png) no-repeat; background-position:5px 5px; color:#929292; clear:both; margin:15px 0;padding-left:37px; font-style:italic; min-height:30px;}

/*Button*/
.post_wrap .scl_button a{ width:auto; float:left; padding:10px; background:#171717; clear:both; color:#fff!important; margin-bottom:15px;border: 1px solid #171717;}
.post_wrap .scl_button span{ display:inline-block;}
.post_wrap .scl_button a:hover{ background:#f5f5f5!important; color:#171717!important; border: 1px solid #ddd;}



/*WIDGETS
-------------
*/

.trt_wgt_thumb{}
.trt_wgt_thumb img{ width:65px; float:left; border:3px solid #fff; height:65px; margin-right:10px;}
#sidebar .widgets .widget ul li .trt_wgt_tt, #midrow .widgets .widget ul li .trt_wgt_tt{ color:#333; text-transform:uppercase;}
#footer .widgets .widget ul li .trt_wgt_tt{ text-transform:uppercase; color:#ccc;}
#footer .widget_content p{ font-size:12px; }
}
#sidebar .widgets .widget_nav_menu ul li ul li, #midrow .widgets .widget_nav_menu ul li ul li, #footer .widgets .widget_nav_menu ul li ul li{ background:none; padding-left:15px; border-bottom:none;}



/*SOCIAL SHARE
-------------
*/
.social_wrap{ width:185px; float:right; position:relative; margin-top:10px;}
.social{float: right;}
.social ul{ margin:0; padding:0; float:left;}
.social ul li{ float:left; list-style-type:none; margin:3px 5px;}
.social ul li a{ display:block; width:16px; height:16px; background:url(images/social2.png) no-repeat; text-indent:-999999px;}
.social ul .soc_fb a{ background-position:0 0;}
.social ul .soc_tw a{ background-position:-16px 0;}
.social ul .soc_ms a{ background-position:-32px 0;}
.social ul .soc_ytb a{ background-position:-48px 0;}
.social ul .soc_flkr a{ background-position:-64px 0;}
.social ul .soc_rss a{ background-position:-80px 0;}
.social ul .soc_plus a{ background-position:-96px 0;}

/* Social icons */
.rss, .facebook, .twitter, .googleplus, .instagram, .pinterest {
	width: 45px;
	height: 45px;
	float: right;
	display: block;
	background-image: url(images/redes.png);
	text-indent: -9999px;
	margin: 0 5px 20px;
	
}
.rss{
	background-position: left top;
}
.facebook{
	background-position: -45px top;
}
.twitter {
	background-position: -90px top;
}
.googleplus{
	background-position: -135px top;
}
.instagram{
	background-position: -180px top;
}
.pinterest {
	background-position: right top;
}
.contacto {
	width: 45px;
	height: 45px;
	float: right;
	display: block;
	background-image: url(images/redes2.png);
	text-indent: -9999px;
	margin: 0 5px 20px;	
}
.rss:hover{
	background-position: left bottom;
}
.facebook:hover{
	background-position: -45px bottom;
}
.twitter:hover{
	background-position: -90px bottom;
}
.googleplus:hover{
	background-position: -135px bottom;
}
.instagram:hover{
	background-position: -180px bottom;
}
.pinterest:hover{
	background-position: right bottom;
}
.contacto:hover{
	background-position: left bottom;
}

.minirss, .minifacebook, .minitwitter, .minigoogleplus, .miniinstagram, .minipinterest {
	width: 30px;
	height: 30px;
	float: right;
	display: block;
	background-image: url(images/redes-mini.png);
	text-indent: -9999px;
	margin: 0 5px 0px;
	
}
.minirss{
	background-position: left top;
}
.minifacebook{
	background-position: -30px top;
}
.minitwitter {
	background-position: -60px top;
}
.minigoogleplus{
	background-position: -90px top;
}
.miniinstagram{
	background-position: -120px top;
}
.minipinterest {
	background-position: right top;
}
.minirss:hover{
	background-position: left bottom;
}
.minifacebook:hover{
	background-position: -30px bottom;
}
.minitwitter:hover{
	background-position: -60px bottom;
}
.minigoogleplus:hover{
	background-position: -90px bottom;
}
.miniinstagram:hover{
	background-position: -120px bottom;
}
.minipinterest:hover{
	background-position: right bottom;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display:block;margin: 5px auto 5px auto;}
.alignright {float:right;margin: 5px 0 20px 20px;}
.alignleft {float:left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
img { height: auto;}
a img { max-width:100%; height: auto;}
a img.alignright {float:right; margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float:left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto}
.wp-caption {background: #eee;border: 1px solid #f0f0f0;max-width: 96%; /* Image does not overflow the content area */padding: 5px 3px 10px;text-align: center;}
.wp-caption img{max-width: 98%!important; ;border: 5px solid #222;}
.wp-caption.alignnone {margin: 5px 20px 20px 0; background: ;}
.wp-caption.alignleft { margin: 5px 20px 20px 0;}
.wp-caption.alignright { margin: 5px 0 20px 20px;}
.wp-caption p.wp-caption-text {font-size:15px; margin:0;padding:0 4px 5px;}
.sticky{}
.gallery-caption{}

/* QUIENES SOMOS */
.staff {
	clear:both;
	margin-bottom: 5%;
}
.staff-izq {
	display:block;
	float:left;
	width: 40%;
	padding-right: 5%;
	padding-top: 5%;
}
.staff-der {
	display:block;
 	float:left;
 	width: 50%;
 }
.staff-der h2 {
	font-size: 200%;
	margin: 0 0 1% 0;
	line-height: 31px;
	border-bottom: 5px solid #222;
}
.staff-izq img {
	max-width: 250px;
	width: 100%;
	height: auto;
	border: 5px solid #222;
}



/*MOBILE CODE
-------------
*/
/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */
@media (max-width: 959px) { 
  	.pattern{
  		padding: 10px;
  		width: auto;
  	}
  	#top-menu {
        margin: 0 auto 20px;
   		width: 95%;
  	}  	
  	#site-title h1,
  	#site-description {
  		padding-left: 0;
  		text-align: center;
  	}
    #header #site-title h1 a  {
	  	font-size: 1.3em;
  	}	
  	#site-description {
    	margin-bottom: 10px;
    	padding-left: 0;
	}
	.lay1 .post, .lay1 .page{
		max-width: 959px;
		width:100%;
		display: block;
		margin: auto;
		float: left;
		margin-bottom: 30px;
	}
	.post_image{
		display: block;
		margin: auto;
	}
	.lay1 .post .post_content, .lay1 .page .post_content{ height:auto;}
	.lay1 .post .imgwrap, .lay1 .page .imgwrap{
		display: block;
		margin: auto;
		width: 300px;
	}
	.trt_paginate {
	    width: 100%;
    }
    #posts {
    	display: block;
    	max-width: 959px;
    	margin-right: 0;
    	width:100%;
    }
	.slider-content p{
		display: none;
	}
	#midrow .widgets .widget{
		width: 100%;
	}
	#footer .widgets .widget{
		width: 100%;
	}
	#sidebar{
		width:100%;
		margin-left:0px!important;
		margin-right:15px!important;
	}
	#sidebar .widgets .widget{
	 	width: 100%;
	}

}

@media screen and (max-device-width: 480px) {
	.pattern {
  		width: auto;
  	}
  	#header {
  		height: auto !important;
  		padding:10px;
  		width: auto;
  	}
  	.social-media {
 		display: none;
  	}
  	#header #site-title {
	  	margin-bottom: 0;
  	}
	#site-title h1 {
		padding: 0;
	}
  	#header #site-title h1 a{
  		font-size: 50px;
  		margin: 0;
  		padding: 0;
  	}
  	#site-description {
		font-size: 20px;
	}
	#top-menu {
		font-size: 1.4em;
		padding: 20px 5px 5px;
	}
	#top-menu li {
    	margin:0 10px 0 0;
    	padding: 0;
    	width: auto;
    }
   
    #posts{
    	float: none;
    	margin-left: 0;
    	padding: 5px;
    	width: 100%;
    }
    #posts h1.postTitle a, #postsContent h2.postTitle a {
	    width: auto;
    }
    li.type-post, 
    div.type-post, 
    .type-page, 
    .home-post, 
    .featured {
    	background: #EFEEEC;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
    }
    .lay1 .post, .lay1 .page,
    .trt_paginate  {
   		float: none;
   		width: inherit;
    }
    #posts h1.postTitle, #primaryContent h2.postTitle {
    clear: both;
    }
    #posts h1.postTitle a, 
	#posts h2.postTitle a {
		line-height: 1em;
		width:80%;
	}
    img.attachment-following-post-thumbnails {
    	float:none;
    	margin: 0 auto;
    }
    
    div.post {
    	text-align: center;
	}
	div.post p {
		 padding: 5px 10px;
   		 text-align: left;
	}
 	img {
 	    height: auto;
   		max-width: 90%;
 	}
 	#respond {
 		padding: 0 10px;
 	}
 	h2#comments {
		font-size: 1.6em;
	}
	#commentform label {
   		float: none;
    	line-height: 1em;
    	padding-right: 0;
    	text-align: center;
    	width: inherit;
	}
	#comment {
    	width: 100%;
 	}
	label, input {
    	margin-bottom: 10px;
	}	
	#footer {
		display: none;
	}
 }	
 	@media screen and (max-device-width: 480px) and (orientation:landscape) {
 	
 	div.post p{
   		font-size: 0.7em;
   		line-height: 1.6em;
	}
	a.more-link {
		font-size: 1.2em;
	}	
}

@media (max-width: 645px){
	#respond input{
		width: 50%;
	}

}

@media (max-width: 360px) {
	.lay1 .post, .lay1 .page{
		margin:1px 0px 1px 0px;
		width: 100%;
		max-width: auto;
		display: inline-block;
	}
	p {
		font-size: 12px;
	}
	h1, h2 {
		font-size: 14px;
	}
	.slider-content{
		width:100%;
	}
	ol#controls li{
		padding:1% 1%;
	}
	#respond input{
		width: 80%;
	}
} 

	

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #222 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
